{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'post' %}" method="post" class="mb-3 new-post-area">
            {% csrf_token %}
            <label for="exampleFormControlTextarea1" class="form-label">Network</label>
            <textarea name="post_content" placeholder="Como foi seu dia?" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="btn btn-warning">Post</button>
        </form>
        {% if posts %}
            <div id="posts_index">
                {% for post in posts %}
                    <div class="card" style="margin-top: 1vh; width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.user.username }}</h5>
                            {% if user.username == post.user.username %}
                                <a href="#" class="card-link">Edit</a>
                            {% endif %}
                            <h6 class="card-subtitle mb-2 text-body-secondary"> {{ post.content|slice:":60" }}... </h6>
                            <p class="card-text"> {{ post.created_at|date:"Y-m-d H:i" }} </p>
                            <button class="like-btn">
                                <i class="fa-regular fa-heart"></i>
                                <span id="like_qtd">0</span>
                            </button>
                            <a href="#" class="card-link">
                                <p>Comment</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}