{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <form action="{% url 'post' %}" method="post" class="mb-3 new-post-area">
            {% csrf_token %}
            <label for="exampleFormControlTextarea1" class="form-label">Network</label>
            <textarea name="post_content" placeholder="Como foi seu dia?" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="btn btn-warning">Post</button>
        </form>
        {% if posts %}
            <div id="posts_index">
                {% for post in page_obj %}
                    <div class="card" style="margin-top: 1vh; width: 100%;">
                        <div class="card-body">

                            <h5 class="card-title"><a class="card-title" href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></h5>
                            {% if user.username == post.user.username %}
                                <button class="edit_post card-link" data-post-id="{{ post.id }}">Edit</button>
                            {% endif %}
                            <div id="content-area">
                                <h6 id="content_post{{ post.id }}" class="card-subtitle mb-2 text-body-secondary"> {{ post.content }}... </h6>
                                <div id="edit_form_{{ post.id }}" class="edit_form hidden">
                                    <form id="edit_form" data-post-id="{{ post.id }}" action="{% url 'edit_post' post.id %}" method="POST">
                                        <textarea name="edit_post{{ post.id }}" placeholder="Editing..." class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        <button id="apply_edit_{{ post.id }}" class="btn" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <p class="card-text"> {{ post.created_at|date:"Y-m-d H:i" }} </p>
                            <button class="like-btn">
                                <i class="fa-regular fa-heart"></i>
                                <span id="like_qtd">0</span>
                            </button>
                            <a href="#" class="card-link">
                                <p>Comment</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination">
                    <span class="step_links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            </div>
        {% endif %}
    {% endif %}
{% endblock %}